#firstNum {
    
}

#secondNum{

}

#multiply {

}

#divide {

}

#sum {

}

#subtraction {

}

#calcular {

}

#reset {

}

#results {
    display:flex;
    flex-direction: column;
}


.resultSquare {
    margin-bottom: 20px;
    background-color: yellow;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.resultSquare p {
    
}

.resultRemove {
    
}